services:
  de.analysis.unite.net:
    extends:
      file: docker-compose.yml
      service: de.analysis.unite.net
    build:
      context: ./src
      dockerfile: ./Dockerfile
    image: unite.analysis.de

networks:
  default:
    name: unite
    external: true
