# API Key
UNITE_API_KEY=Defautl32BitApiKeyHasToBeChanged

# Admin Credentials
UNITE_ADMIN_USER=admin@unite.net
UNITE_ADMIN_PASSWORD=Long-pa55w0rd

# GitHub Credentials
UNITE_GITHUB_USER=root
UNITE_GITHUB_TOKEN=Long-t0ken

# PGSQL and MySQL Credentials
UNITE_SQL_USER=root
UNITE_SQL_PASSWORD=Long-pa55w0rd

# MongoDB Credentials
UNITE_MONGO_USER=root
UNITE_MONGO_PASSWORD=Long-pa55w0rd

# Elasticsearch Credentials
UNITE_ELASTIC_USER=root
UNITE_ELASTIC_PASSWORD=Long-pa55w0rd