**/data
**/cache
**/src
**/mnt
ssl
plugins
.secrets
.config
secrets.json
config.json
# **/.project
# **/.pydevproject
# **/install.log
# **/.docker-compose.tmp.yml
# applications/unite-vep/databases
**/.DS_Store