#programs/mongodb/data
#programs/mysql/data
**/data
**/src
ssl
secrets.json
**/.project
**/.pydevproject
**/install.log
install.local_.sh
docker-compose.local_.yml
**/.docker-compose.tmp.yml
applications/unite-annotations-vep/databases
