services:
  surv.analysis.unite.net:
    extends:
      file: docker-compose.yml
      service: surv.analysis.unite.net
    build:
      context: ./src
      dockerfile: ./Dockerfile
    image: unite.analysis.surv

networks:
  default:
    name: unite
    external: true
